.login-div {
  background-color: #eceff1;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px;
}

.container {
  background-color: #eceff1;
}

.login-header {
  margin-top: 16px;
  & > h2 {
    font-weight: 200;
  }
}

.form-body {
  padding: 36px;
}

.btn {
  width: -webkit-fill-available;
}

.button-div {
  margin-top: 24px;
}

.row {
  margin-top: 36px;
}
