<div class="page-wrapper chiller-theme toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a class="nav-link" routerLink="/post">Admin Board</a>
        <div id="close-sidebar"></div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img
            class="img-responsive img-rounded"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <span class="user-name"
            >Arjun
            <strong>Pai</strong>
          </span>
          <span class="user-role">Administrator</span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul class="">
          <li class="header-menu">
            <span>General</span>
          </li>
          <li routerLinkActive="active" *ngFor="let item of menuItems">
            <a [routerLink]="[item.path]">
              <i [class]="[item.class]"></i>
              <span>{{ item.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
</div>
